<h1>Currency pairs</h1>

<ul>
  <% @list.keys.each do |currency_code| %>
    <li>
      <a href="/<%= currency_code %>">
      Convert 1 <%= currency_code %> to...
      </a>
    </li>
  <% end %>
</ul>
